:root {
  --color-primary: #f5ffff;
  --color-secondary: #58cced;
  --color-tertiary: #3895d3;
  --color-quaternary: #1261a0;
  --color-quinary: #072f5f;
}

#home {
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.homeSmallText {
  font-size: ;
}
  
.homeTextDiv {
    text-align: center;
    font-family: var(--font-info);
}

.greeting {
  font-size: clamp(15px, 2vw, 3vw);
}

.homeTextDiv h2 {
    font-size: clamp(40px, 8vw, 9vw);
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
}

.selfExp {
    font-size: clamp(20px, 3vw, 4vw);
}

a, a:link, a:visited,  a:hover, a:active {
  text-decoration: none !important;
  color: white;
}

.downIcon {
  height: clamp(30px, 3vw, 4vw);
  animation: arrowBounce 1.2s infinite;
  position: absolute;
  bottom: 2%;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }

}
@keyframes arrowBounce {
  0% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
